@import './../../variables.scss';

.card {
  cursor: url('./../../assets/img/icon/clicker.svg'), default;
  background-color: $color-white;
  padding: 20px;
  width: calc(100% / 3 - 70px);
  text-align: right;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));

  &.card-opacity {

    background-color: rgba($color-white, 0.65);
    filter: none;
  }


  &__img {
    margin: 0 auto;

    &-wrap {
      margin-bottom: 14px;
    }
  }

  &__title,
  &__country {
    margin-bottom: 10px;
  }

  &__price {
    font-weight: bold;
  }
}