
@import './../../variables.scss';

.btn {
  color: $color-black;
  background-color: $color-white;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
  border: none;
  padding: 6px 20px;
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 12px;
  font-weight: 400;
  display: block;
  cursor: pointer;
}