.header-wrap {
  padding: 52px 0 84px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header {
    margin-bottom: 60px;
  }

  h1 {
    text-align: center;
  }
}