.img-сontent {
  max-width: 697px;
  display: flex;
  justify-content: space-between;

  
  &__img-wrap {
    flex: 0 1 272px;
    margin: 0 auto;
  }
  
  &__img {
  }
  
  &__inner {
    flex: 0 1 346px;
    text-align: center;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .devider {
      margin-bottom: 25px;
    }

    p + p {
      margin-top: 25px;
    }
  }

  &__content {
    .img-content__good {
      text-align: left;
    
      span {
        font-weight: 700;
      }
    }
    
    .img-content__country {
      margin-bottom: 15px;

    }
    
    .img-content__desc {
      margin-bottom: 15px;

    }
    
    .img-content__price {
      &-inner {
        font-size: 24px;
      }
    }
  }


}